
<header class="masthead bg-white text-black text-center">
  <!-- Masthead-->
  <ng-particles [id]="id" [options]="options" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)">
  </ng-particles>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <!--    <img src="assets/img/logo/dark_logo_transparent_background.png" class="css-logo" alt="P-Ops Team Logo">-->
      <a class="navbar-brand text-black" href="#page-top">Blue ridge</a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-black rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-black" href="#about">About</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-black" href="#network">Network</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-black" href="#service">Service</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-black" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container css-header">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar" src="assets/img/logo/logo_transparent_background.png" alt="..." />
    <!-- Masthead Heading-->
    <!--    <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>-->
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">DECENTRALIZING THE FUTURE</div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="text-header">TEAM is a decentralized organization providing you with validation and staking services, blockchain consultation, growth acceleration and investment capital for innovative Web 3.0 projects.</p>
    <a class="btn-custom text-uppercase" href="#about">
       LEARN MORE
    </a>
  </div>
</header>
<!-- About Section-->
<section class="page-section bg-white text-white mb-0" id="about">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="left-decoration about-img">
          <img class="masthead-avatar relative-img" src="assets/img/about/about-img.jpg" alt="..." />
        </div>
      </div>
      <div class="col-6">
        <div class="col-content text-black">
          <p class="sub-text">Worldwide team of 8</p>
          <h2>Your Trusted Validator<br> For Your Favorite Project</h2>
          <p>We are P-OPS Team ~ Pangaea Operations. A group of 8 highly qualified technology enthusiasts, located across the globe. We are a decentralized organization, passionate about Web 3.0, distributed ledger technology (DLT) and decentralization.<br><br>
            With a combined 40+ years of experience in blockchain, P-OPS Team has come to light in early 2019 as a community initiative around Harmony protocol. Since then, we have become an extended team of Harmony whilst expanding our services to other networks and projects. We are specialized in running validators for several networks, while also providing consultation, growth acceleration and funding to new and innovative Web 3.0 projects.
          </p>
          <a class="btn-custom text-uppercase" href="#contact">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Network Section-->
<section class="page-section network" id="network">
  <div class="container">
    <!-- Network Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Network</h2>
    <!-- Network Grid Items-->
    <div class="row justify-content-center">
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-3 mb-5">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
          <img class="img-fluid" src="assets/img/network/cabin.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 2-->
      <div class="col-md-6 col-lg-3 mb-5">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
          <img class="img-fluid" src="assets/img/network/cake.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 3-->
      <div class="col-md-6 col-lg-3 mb-5">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
          <img class="img-fluid" src="assets/img/network/circus.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 4-->
      <div class="col-md-6 col-lg-3 mb-5">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
          <img class="img-fluid" src="assets/img/network/game.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 5-->
      <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
          <img class="img-fluid" src="assets/img/network/safe.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 5-->
      <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
          <img class="img-fluid" src="assets/img/network/safe.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 5-->
      <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
          <img class="img-fluid" src="assets/img/network/safe.png" alt="..." />
        </div>
      </div>
      <!-- Network Item 6-->
      <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
        <div class="network-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
          <img class="img-fluid" src="assets/img/network/submarine.png" alt="..." />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Section-->
<section class="page-section bg-white text-black mb-0" id="service">
  <div class="container">
    <!-- Network Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Service</h2>
    <!-- Network Grid Items-->
    <div class="row justify-content-center">
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 text-center">
        <div class="col-content">
          <div class="service-box">
            <img src="assets/img/service/service-icon-1.png" alt="Service Icon">
            <h3>Blockchain Consultancy</h3>
            <p>Our years of expertise enable us to consult on both technical and economical aspects of a project.</p>
          </div>
        </div>
      </div>
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 text-center">
        <div class="col-content">
          <div class="service-box">
            <img src="assets/img/service/service-icon-2.png" alt="Service Icon">
            <h3>Investment Capital</h3>
            <p>We provide funding, support, community presence and advisory to the next generation of Web 3.0 projects.</p>
          </div>
        </div>
      </div>
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 text-center">
        <div class="col-content">
          <div class="service-box">
            <img src="assets/img/service/service-icon-3.png" alt="Service Icon">
            <h3>Growth Acceleration</h3>
            <p>We help projects grow their user base, refine business development and connect them with potential business partners.</p>
          </div>
        </div>
      </div>
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 text-center">
        <div class="col-content">
          <div class="service-box">
            <img src="assets/img/service/service-icon-4.png" alt="Service Icon">
            <h3>Toolings</h3>
            <p>We build and maintain tools such as explorers, faucets and RPC endpoints for your favourite Web 3.0 projects.</p>
          </div>
        </div>
      </div>
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 text-center">
        <div class="col-content">
          <div class="service-box">
            <img src="assets/img/service/service-icon-5.png" alt="Service Icon">
            <h3>White Labels</h3>
            <p>Use our expertise and your brand to run your own validator safely and securely, without a worry.</p>
          </div>
        </div>
      </div>
      <!-- Network Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 text-center">
        <div class="col-content">
          <div class="service-box">
            <img src="assets/img/service/service-icon-6.png" alt="Service Icon">
            <h3>Blockchain Consultancy</h3>
            <p>Our years of expertise enable us to consult on both technical and economical aspects of a project.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Contact Me</h2>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
      <div class="col-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
            <label for="name">Full name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
          </div>
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
            <label for="phone">Phone number</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!-- Submit Button-->
          <button class="btn-custom text-uppercase btn-xl disabled" id="submitButton" type="submit">Send A MESSAGE</button>
        </form>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="fter">
              <a href="https://github.com/pops-one" target="_blank"><img src="assets/img/icon/git-icon.png" alt="Github icon">Github</a>
              <a href="https://twitter.com/POpsTeam1" target="_blank"><img src="assets/img/icon/twitter-icon.png" alt="Twitter icon">Twitter</a>
              <a href="https://t.me/POPS_Team_Validator" target="_blank"><img src="assets/img/icon/telegram-icon.png" alt="Telegram icon">Telegram</a>
              <a href="https://discord.com/invite/yatAvEW7jd" target="_blank"><img src="assets/img/icon/discord-icon.png" alt="Discord icon">Discord</a>
            </div>service-icon-1.png
          </div>
          <div class="col-6">
            <div class="fter">
              <img class=" w-fill" src="assets/img/logo/dark_logo_transparent_background.png" alt="P-OPS Team Logo">
              <p class=text-center>© All right reserved 2021.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          2215 John Daniel Drive
          <br />
          Clark, MO 65243
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">
          Freelance is a free to use, MIT licensed Bootstrap theme created by
<!--          <a href="http://startbootstrap.com">Start Bootstrap</a>-->
          .
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
</div>
<!-- Network Modals-->
<!-- Network Modal 1-->
<div class="network-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Network Modal - Title-->
              <h2 class="network-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
              <!-- Network Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/network/cabin.png" alt="..." />
              <!-- Network Modal - Text-->
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Network Modal 2-->
<div class="network-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Network Modal - Title-->
              <h2 class="network-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
              <!-- Network Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/network/cake.png" alt="..." />
              <!-- Network Modal - Text-->
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Network Modal 3-->
<div class="network-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Network Modal - Title-->
              <h2 class="network-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
              <!-- Network Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/network/circus.png" alt="..." />
              <!-- Network Modal - Text-->
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Network Modal 4-->
<div class="network-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Network Modal - Title-->
              <h2 class="network-modal-title text-secondary text-uppercase mb-0">Controller</h2>
              <!-- Network Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/network/game.png" alt="..." />
              <!-- Network Modal - Text-->
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Network Modal 5-->
<div class="network-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Network Modal - Title-->
              <h2 class="network-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
              <!-- Network Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/network/safe.png" alt="..." />
              <!-- Network Modal - Text-->
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Network Modal 6-->
<div class="network-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Network Modal - Title-->
              <h2 class="network-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
              <!-- Network Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/network/submarine.png" alt="..." />
              <!-- Network Modal - Text-->
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

